accent-color = dodgerblue
big-break = 60em
dark-color = black
gutter = 1em
gutter-big = 3em
light-color = white

body
  background-color light-color
  color dark-color
  font-family 'Lato', sans-serif
  font-size 100%

a
  text-decoration-skip ink
  color accent-color

p
  margin-top 0

.resume
  max-width 30em
  margin 0 auto

.nav
  list-style none
  padding-left 0

.block
  margin gutter

.block--main
  margin-top gutter-big

.h
  margin 0
  font-weight 900
  text-transform uppercase

.details
  font-weight 300
  font-style italic
  margin-top -1em

@media all and (min-width: big-break)
  .resume
    display grid
    grid-template-columns 38% 62%
    margin-bottom gutter-big
    margin-top gutter-big
    max-width 50em

  header
    text-align right

  .block--main
    margin-top gutter
    text-align right

  .page-link
    display none
