accent-color = #0074d9
text-color = #111
background-color = #fff
highlight-color = #85144b

gutter = 1em
gutter-big = 3em
gutter-small = 0.5em
big-break = 50em

html
  box-sizing border-box

*, *::before, *::after
  box-sizing inherit

body
  color text-color
  background-color background-color
  font-family 'Lato', sans-serif
  font-weight 400
  font-size 18px
  margin-top gutter
  margin-right gutter-small
  margin-bottom gutter
  margin-left gutter-small
  line-height 1.4em

a
  text-decoration-skip ink
  color accent-color

.resume
  max-width 30em
  margin 0 auto

.header--light
  font-weight normal
  font-size 1em

.header--fancy
  font-family 'Abril Fatface', monospace
  line-height 1.2em
  letter-spacing 0.05em
  background-image linear-gradient(
    background-color,
    background-color 66%,
    #ffdc00 66.1%,
    #ffdc00
  )

h1
  font-size 10vw

h2
  font-size 7vw
  margin-top gutter-big

.article
  margin-bottom gutter-big

.text
  margin-top 0.25em
  margin-bottom 0

.highlights
  padding-left 1.5em

.highlight
  font-weight 700
  color highlight-color

.contact-info
  margin-top gutter

.contact-link
  display block
  margin-bottom 0.25em

.contact-icon
  height 1em
  position relative
  top 0.15em

.additional-info
  font-weight 300
  font-style italic

.external-link
  overflow-wrap break-word
  word-wrap break-word

.badge
  float right
  width 7em
  margin-top 0.5em
  margin-bottom 0.5em
  margin-left 0.5em

.print-only
  display none

@media all and (min-width: 30em)
  body
    margin-top gutter-big
    margin-bottom gutter-big

  h1
    font-size 3em

  h2
    font-size 1.7em

  .contact-info
    display flex
    flex-wrap wrap

  .contact-link
    flex-basis 50%

@media all and (min-width: 90em)
  .resume
    max-width 60em
    display grid
    grid-template-columns 2fr 1fr

  .header-section
    grid-column-start 1
    grid-column-end 3

  .professional-experience
    margin-right gutter-big
    grid-row-start 2
    grid-row-end 4

  .employment-history
    grid-row-start 2
    grid-column-start 2

  .certifications
    grid-row-start 3
    grid-column-start 2

    h2
      margin-top 0

  .education
    grid-row-start 4
    grid-column-start 2

    h2
      margin-top 0

@media print
  body
    margin 0

  a
    text-decoration none

  .screen-only
    display none

  .resume
    display block
    max-width 100%
    padding 2em 1em

  .contact-info
    display flex
    flex-wrap wrap

  .contact-link
    flex-basis 50%
